# Database Connection
DATABASE_URL=your_database_url_here

# API Keys
NEXT_PUBLIC_API_URL=https://api.example.com
NEXT_PUBLIC_GA_ID=

# App Settings
PORT=3000

# "How to run with Docker"  เช่น:

# 1. cp .env.example .env

# 2.  docker compose up --build